@import url('https://fonts.googleapis.com/css2?family=Abel&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Dancing+Script:wght@400..700&display=swap');

.abel-regular {
  font-family: "Crimson Text", serif;
  font-optical-sizing: auto;
  font-weight:600;
  }
  