@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  width: 18px;
  height: 18px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 

.primary-btn{
    @apply px-4 cursor-pointer py-2 bg-[#FF204E] text-white rounded-full
  }
.sec-btn{
    @apply px-4 cursor-pointer py-2 bg-white text-[#FF204E] rounded-full
  }
